<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jy.multi_media"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jy.multimedia.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.jy.multimedia.HistoryActivity"
            android:label="@string/history" >
        </activity>
        <activity 
            android:name="com.jy.image.ImageActivity"
            android:label="@string/image" >
        </activity>
        <activity 
            android:name="com.jy.image.ImageBrowser"
            android:label="@string/image_brower" >
        </activity>
        <activity 
            android:name="com.jy.video.VideoActivity"
            android:label="@string/video" >
        </activity>
        <activity 
            android:name="com.jy.video.VideoPlayer"
            android:label="@string/video_player"
            android:screenOrientation="landscape" >
        </activity>
        <activity 
            android:name="com.jy.music.MusicActivity"
            android:label="@string/music" >
        </activity>
        <activity 
            android:name="com.jy.music.MusicPlayer"
            android:label="@string/music_player" >
        </activity>
    </application>

</manifest>
