<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="config" class="config.Config">
		<property name="groupNames">
			<set>
				<value>rockmetal80</value>
			</set>
		</property>
		<property name="cacheFolder">
			<value>target</value>
		</property>
		<property name="searchFileOnDisk">
			<value>false</value>
		</property>
	</bean>
	
	<bean id="executor" class="java.util.concurrent.Executors" 
        factory-method="newFixedThreadPool" 
        destroy-method="shutdownNow">
    	<constructor-arg value="4"/>
	</bean>
	
	<bean id="eventBus" class="com.google.common.eventbus.AsyncEventBus" scope = "singleton">
    	<constructor-arg ref="executor"/>
	</bean>
		
	<bean id ="downloader" class = "service.DownloadService" scope = "singleton" >
	    <property name="config">
			<ref bean="config" />
		</property>
		<property name="eventBus">
			<ref bean="eventBus" />
		</property>
	</bean>
	
	<bean id ="vkPlaylistBuilder" class = "vk.VkPlayListBuilder" scope = "singleton" >
	    <constructor-arg value="http://0.0.0.0:8079"/>
	</bean>
	
	<bean id ="playerService" class = "service.PlayerService" scope = "singleton" >
	    <property name="player">
			<ref bean="customPlayer" />
		</property>
		<property name="eventBus">
			<ref bean="eventBus" />
		</property>
	</bean>
	
	<bean id ="customPlayer" class = "player.CustomPlayer" scope = "singleton">
	    <constructor-arg ref="eventBus"/>
	</bean>	

</beans>