<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.david.schooldatabase" >
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddStudentActivity"
            android:label="@string/title_activity_add_student"
            android:parentActivityName=".StudentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.StudentsActivity" />
        </activity>

        <provider
            android:name=".data.SchoolDBProvider"
            android:authorities="com.example.david.schooldatabase" >
        </provider>

        <activity
            android:name=".AddCourseActivity"
            android:label="@string/title_activity_add_course"
            android:parentActivityName=".CoursesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.CoursesActivity" />
        </activity>
        <activity
            android:name=".AddEnrollmentActivity"
            android:label="@string/title_activity_add_enrollment"
            android:parentActivityName=".EnrollmentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.EnrollmentsActivity" />
        </activity>
        <activity
            android:name=".AddAssessmentActivity"
            android:label="@string/title_activity_add_assessment"
            android:parentActivityName=".AssessmentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.AssessmentsActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".StudentsActivity"
            android:label="@string/title_activity_students"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.MainActivity" />
        </activity>
        <activity
            android:name=".CoursesActivity"
            android:label="@string/title_activity_courses"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.MainActivity" />
        </activity>
        <activity
            android:name=".EnrollmentsActivity"
            android:label="@string/title_activity_enrollments"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.MainActivity" />
        </activity>
        <activity
            android:name=".AssessmentsActivity"
            android:label="@string/title_activity_assessments"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.david.schooldatabase.MainActivity" />
        </activity>
    </application>

</manifest>
