<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
<extension 
	point="org.eclipse.core.resources.builders" 
	id="javabuilder"
	name="%javaBuilderName">
	<builder>
		<run class="org.eclipse.jdt.internal.core.builder.JavaBuilder">
		</run>
		<dynamicReference class="org.eclipse.jdt.internal.core.DynamicProjectReferences"/>
	</builder>
</extension>
</plugin>
