[submodule "docker-formula"]
	path = docker-formula
	url = https://github.com/saltstack-formulas/docker-formula.git
[submodule "Garbich"]
	path = Garbich
	url = https://github.com/Trololoshe4ki/Garbich.git
