<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_ecommerce?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="Entidades/TblPagamentos.hbm.xml"/>
    <mapping resource="Entidades/TblItensPedido.hbm.xml"/>
    <mapping resource="Entidades/TblFatura.hbm.xml"/>
    <mapping resource="Entidades/TblPedidoItemStatus.hbm.xml"/>
    <mapping resource="Entidades/TblMetodosPagamentoCliente.hbm.xml"/>
    <mapping resource="Entidades/TblRefPedidoStatus.hbm.xml"/>
    <mapping resource="Entidades/TblEnvios.hbm.xml"/>
    <mapping resource="Entidades/TblProduto.hbm.xml"/>
    <mapping resource="Entidades/TblRefFaturaStatus.hbm.xml"/>
    <mapping resource="Entidades/TblRefTipoProduto.hbm.xml"/>
    <mapping resource="Entidades/TblPedidos.hbm.xml"/>
    <mapping resource="Entidades/TblRefMetodosPagamento.hbm.xml"/>
    <mapping resource="Entidades/TblCliente.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
