body {
	padding-top: 70px;
	background-color: white;
}

.brand{
	color: #B27 !important;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.mainContent{
	margin-bottom:60px;
}

.searchbox{
	margin: 20px;
}