// .header
// 	background-color #CCC
// 	padding 10px
// 	display flex
// 	align-items center
// 	.logo
// 		width: 50px
// 		height: 50px
// 		border: 1px solid black
// 		margin-right 20px
// 	.title
// 		font-family 'Arial,helvetica,sans-serif'
// 		font-size: 20px
// 		flex 1
// 	.username
// 		padding 10px
// 	.signup, .login, .logout, .balance, .pay, .username
// 		padding 10px
// 		border 1px solid black
// 		margin-left 2px
// 		cursor pointer
// 		&:hover
// 			background-color #DDD
//
// 	.balance
// 		min-width: 80px
// 		margin-left: 0
// 		border-left: 0
//
// 	.pay
// 		margin-left: 0
// 		margin-right: 10px
// 		border-left: 0
//
// .navbar
// 	background-color #CCC
// 	border-top: 1px solid white
// 	border-bottom: 1px solid white
// 	display flex
// 	align-items: center
// 	justify-content: flex-end
// 	.item
// 		padding: 10px 30px
// 		color black
// 		text-decoration none
// 		cursor pointer
// 		border-left: 1px solid white
// 		&:hover
// 			background-color #DDD
// 	.item.active
// 		background-color #AAA
