div.home-page
	md-tabs(md-selected="selectedIndex", md-border-bottom)
		md-tab(label="dupa1"): div This is tab 1
		md-tab(label="dupa2"): div This is tab 2
		md-tab(label="dupa3"): div This is tab 3
		md-tab(label="dupa4"): div This is tab 4
